.promo {
    height: 48px;
    background: #009EFF;
    vertical-align:middle;
    text-align: center;
    color: #FFFF;
    font-size: 22px;
    line-height: 46px;
    text-transform: uppercase;
  
}
